{% extends "vulnerweb/base.html" %}
{% load static %}
{% block css %}
<!-- Bootstrap Spinner Css -->
<link href='{% static "plugins/jquery-spinner/css/bootstrap-spinner.css" %}' rel=" stylesheet">

<style>
    .modal {
        position: absolute;
        left: 60%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .space {
        margin-right: 10px !important;
    }

    blockquote {
        border-left: 5px solid orangered;
    }

    .bm {
        margin-top: 20px !important;
    }
</style>
{% endblock %}
{% block license_active %}active{%endblock%}
{% block body %}

<section class="content">
    <div class="container-fluid">


        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header shadow bg-red">
                        <h2>
                            <i class="material-icons">vpn_key</i> License
                        </h2>

                    </div>
                    <div class="body shadow">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                <div class="row clearfix">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-8 col-sm-12">
                                        <div class="card">
                                            <div class="header shadow bg-info">
                                                <h2>Note : Use Default Setting for Best
                                                    Performance.</h2>
                                                </h2>
                                            </div>
                                            <div class="body">
                                                <form action="" method="">
                                                    <table class="table table-bordered">

                                                        <tbody>
                                                            <tr>
                                                                <th scope="row" class="text-right">
                                                                    User Name : </th>
                                                                <td>
                                                                    Saurabh Upadhyay
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="text-right">
                                                                    Date :
                                                                </th>
                                                                <td>

                                                                    {{date}}

                                                                </td>

                                                            </tr>

                                                            <tr>
                                                                <th scope="row" class="text-right">
                                                                    License Type :
                                                                </th>
                                                                <td>

                                                                    Trial

                                                                </td>

                                                            </tr>

                                                            <tr>
                                                                <th scope="row" class="text-right">
                                                                    Total Assests :
                                                                </th>
                                                                <td>

                                                                    5

                                                                </td>

                                                            </tr>

                                                            <tr>
                                                                <th scope="row" class="text-right">
                                                                    Scaned Assests :
                                                                </th>
                                                                <td>

                                                                    {{hosts}}

                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>



                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% if messages %}

<div class="modal fade in" id="alertme" tabindex="-1" role="dialog" style="display: block;"
    aria-labelledby="alertmeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-col-teal">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Alert!!</h4>
            </div>
            <div class="modal-body">
                {% for x in messages %}
                <h6>{{x}}</h6>
                {% endfor %}
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger waves-effect pull-right space" data-dismiss="modal">
                    <i class="material-icons">done_all</i>
                    <span>OK</span>
                </button>
            </div>
        </div>
    </div>
</div>



{% endif %}
<button id="alrtBtn" class="btn btn-success btn-lg invisible" data-target="#alertme" data-toggle="modal">Trigger
    msgBox</button>

{% block js %}

<!-- Jquery Spinner Plugin Js -->
<script src='{% static "plugins/jquery-spinner/js/jquery.spinner.js" %}'></script>

<script>

    $(document).ready(function () {

        $("#myBtn").click(function () {
            $('#myModal').modal('show');
        });


    });

    window.onload = function () {
        document.getElementById("alrtBtn").click();
    };




</script>

{% endblock %}


{% endblock %}